*{
    font-family: 'Josefin Sans';
}
body{
    margin: 0%;
    /* background-color: #b4c6cf;; */
}
main{
    padding: 3% 5%;
}
button {
    background-color: #6b3249;
    color: white;
    padding: 1%;
    border-radius: 5px;
    margin-bottom: 2%;
}
button:hover{
    cursor: pointer;
    color: #6b3249;
    background-color: white;
    font-weight:bold;
    border: 2px solid #6b3249;
}
.active{
    font-weight: bold;
}
.list-group-item {
    display: block;
    padding: 2%;
    background-color: #ede7e3;
    margin-top: 2%; 
    border-radius: 10px;
}
.tag {
    float: left;
    font-size: 0.75em;
    padding: 0.5%;
}
.delete {
    float: right;
}
footer {
    margin-top: 5%;
}
