* {
    font-family: 'Josefin Sans';
}

body {
    margin: 0%;
}

main {
    /* padding: 3% 5%; */
    padding: 7rem 5%;
    overflow-y: auto;
}

button {
    background-color: #6b3249;
    color: white;
    padding: 0.5%;
    border-radius: 5px;
    margin-bottom: 2%;
}

button:hover {
    cursor: pointer;
    color: #6b3249;
    background-color: white;
    font-weight: bold;
    border: 2px solid #6b3249;
}

#journal-nav {
    font-weight: bold;
    text-decoration: underline;

}

.list-group-item {
    display: block;
    padding: 2%;
    background-color: #ede7e3;
    margin-top: 2%; 

    border-radius: 10px;
}

.delete {
    float: right;
}

footer {
    margin-top: 5%;
}